/TestProject/nb-configuration.xml
/TestProject/target/classes
/TestProject/target/endorsed
/TestProject/target/generated-sources
/TestProject/target/maven-archiver
/TestProject/target/maven-status
/TestProject/target/surefire
/TestProject/target/test-classes
/TestProject/target/TestProject
