/AuthenticaTestProject/target/archive-tmp
/AuthenticaTestProject/target/classes
/AuthenticaTestProject/target/generated-sources
/AuthenticaTestProject/target/maven-archiver
/AuthenticaTestProject/target/maven-status
/AuthenticaTestProject/target/surefire
/AuthenticaTestProject/target/test-classes
/AuthenticaTestProject/target/CarRentTestProject.jar